.clickable {
	cursor: pointer;
	animation: hovv 4s linear infinite;
}



.colf {
	margin-left:10vw;
	font-size: 10pt;
	margin-top:150px;
	line-height: 17pt;
	float: left;
	transition: 1s;
	letter-spacing: 1pt;
}

.menuopen {
	margin-left: 400px;
	transition: 1s;
}

.e {
	transition: 4s;
}

.eh {
	transition:1s;
	letter-spacing: 1pt;
}

.eh:hover {
	letter-spacing: -2.5pt;
	transition: 1s;
}

.dense
{	letter-spacing: -2.5pt;
	transition: 1s;
}

.o {
	transition: 3s;
}

.oh {
	transition:1s;
	letter-spacing: 1pt;
}

.oh:hover {
	letter-spacing: 15pt;
	transition: 1s;
}

.long {
	letter-spacing: 15pt;
	transition: 1s;
}

.si {
	transition:1s;
	opacity: 1;
}

.si:hover {
	transition: 1s;
	opacity:0.02;
}

.silence {
	opacity: 0.02;
	transition: 1s;
}

.s {
	transition: 2s;
}

.tt {
	font-style:normal;
	transition:0.5s;
}

.tt:hover {
	transition:0.5s;
	transform: skew(25deg,10deg) rotate(-5deg);
}

.twist {
	transform: skew(25deg,10deg) rotate(-7deg);
}

.t {
	transition: 1s;
	display: inline-block;
}

.l {
	transition: 1s;
	display: inline-block;
}

.li {
	transition: 0.5s;	
}

.li:hover {
	transition: 0.5s;
	transform: scaleY(1.5);
}

.line {
	transform: scaleY(1.5);
}

.b1 {
	transition: 1s;
	display: inline-block;
	font-weight: 100;
}

.b2 {
	transition: 1s;
	display: inline-block;
	font-weight: 100;
}

.bold {
	font-weight: 600;
}

.thick {
	transition: 1s;
	font-weight: 100;
}

.thick:hover {
	transition: 1s;
	font-weight: 600;
}

.bl:hover {
	transition: 1s;
	animation: jitter 0.1s alternate infinite;
}

.jitter2 {
	animation: jitter 0.1s alternate infinite;
}

.jitter1 {
	animation: jitter 0.2s alternate infinite;
}

@keyframes jitter {
	0% {transform: translate(-2px,-1px);}
	100% {transform: translate(2px,0px);}
}

.moan1 {
	animation: moan2 2s alternate infinite;
}

@keyframes moan2 {
	0% {transform: scale(1,1);}
	100% {transform: scale(1.3,1.2);}
}

.moa {
	transition: 1s;
	display: inline-block;
}

.moa:hover {
	transform: scale(1.1); 
}

.uc:hover {
	transition:1s;
	text-transform:uppercase;
}

.lot {
	text-transform: uppercase;
}

.smull {
	font-size: 5pt;
}

.smul {
	transition:1s;
}

.smul:hover {
	font-size: 9pt;
	transition:1s;
}

